################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/_ReSharper.Caches/ReSharperPlatformVs16193_4011600b.00
